<div class="header">
  <div class="container">
    <a class="logo" href="#/">Logo</a>
    <div class="search-header-box">
      <input type="text" ng-model="searchText.name" placeholder="Rechercher">
      
      <div class="result-autocomplete" ng-show="searchText.name.length">
        <div ng-repeat="resultAutocomplete in header.searchAutocompleteList | filter:searchText as nbResult">
          
          <!-- Link category -->
          <a href="#/categories/{{ resultAutocomplete.name }}" ng-if="resultAutocomplete.type == 2" ng-click="searchText.name = ''">
            <i class="fa fa-tag" aria-hidden="true"></i>
            {{ resultAutocomplete.name }}
          </a>
          
          <!-- Link course -->
          <a href="#/course/{{ resultAutocomplete.id }}" ng-if="resultAutocomplete.type == 1" ng-click="searchText.name = ''">
            <i class="fa fa-leanpub" aria-hidden="true"></i>
            {{ resultAutocomplete.name }}
          </a>
          
        </div>
        
        <div ng-if="!nbResult.length">
          Aucun résultat
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-secondary">
  <div class="container">
    <a href="#/categories/{{ category }}" ng-repeat="category in header.categoriesList" ng-class="{'active': header.isActiveCategoryView(category) }">
      {{ category }}
    </a>
  </div>
</div>