<div class="header">
  <div class="container">
    <a class="logo" href="#/">Logo</a>
    <div class="search-header-box">
      <input  type="text"
              ng-model="header.search.title"
              ng-change="header.search.category_name = header.search.title"
              placeholder="Rechercher">

      <div class="result-autocomplete" ng-show="header.search.title.length">

        <!-- Course autocomplete -->
        <!-- <div ng-repeat="result in header.coursesList | filter:header.search.title as nbResultCourses">
          <a href="#/course/{{ result.id }}" ng-click="header.search.title = ''">
            <i class="fa fa-leanpub" aria-hidden="true"></i>
            {{ result.title }}
          </a>
        </div> -->

        <!-- Categories autocomplete -->
        <div ng-repeat="result in header.categoriesList | filter:header.search.category_name as nbResultCategories">
          <a href="#/category/{{ result.id }}" ng-click="header.search.title = ''">
            <i class="fa fa-tag" aria-hidden="true"></i>
            {{ result.category_name }}
          </a>
        </div>

        <div ng-if="!nbResultCategories.length && !nbResultCourses.length">
          <div class="no-results">
            Aucun résultat
          </div>
        </div>
      </div>
    </div>

    <div class="block-right" ng-if="!header.isLogged()">
      <button ng-click="header.openLogin()">Connexion</button>
      <a href="#/signup" class="sign-up">Inscription</a>
    </div>

    <div class="block-right" ng-if="header.isLogged()">
      <a href="#/profile" class="avatar-profile"></a>
    </div>
  </div>
</div>

<div class="header-secondary">
  <div class="container">
    <a href="#/category/{{ category.id }}" ng-repeat="category in header.categoriesList" ng-class="{'active': header.isActiveCategoryView(category.id) }">
      {{ category.category_name }}
    </a>
  </div>
</div>
