#category-page{

	.background-category{
		height: 160px;
		background-size: cover;
		background-position: center center;

		h1{
			line-height: 160px;
			vertical-align: middle;
			color: #fff;
			font-weight: bolder;
			margin: 0;
			text-transform: uppercase;
			font-size: 42px;
		}

		&.montagne{
			background-image: url("../images/mountain2.jpg");
		}

		&.forest{
			background-image: url("../images/forest2.jpg");
		}

		&.desert{
			background-image: url("../images/desert2.jpg");
		}

		&.jungle{
			background-image: url("../images/jungle2.jpeg");
		}

		&.apocalypse{
			background-image: url("../images/apocalypse2.jpg");
		}
	}

	.category-content{
		padding: 20px 0px;
	}
}