.background-chapter{
  background-color: $blue-light;
  color: white;
  border-right: 2px white solid;
  margin-top: 10px;
  a{
      color: white;
  }
}
.background-chapter-item{
  background-color: #337ab7;
  color: white;
  border-right: 2px white solid;
  margin-top: 10px;
  a{
      color: white;
  }
}
