.header{
	background-color: $blue-dark;
	padding: 10px 0px;

	.search-header-box{
		z-index: 99;
		width: 350px;
		height: 40px;
		position: relative;
		display: inline-block;

		input{
			color: #fff;
			height: 100%;
			width: 100%;
			outline: none;
			border: none;
			padding: 0px 8px;
			background-color: $blue-light;
		}

		.result-autocomplete{
			position: absolute;
			width: 100%;
			background-color: white;
			cursor: pointer;

			a{
				display: block;
				height: 100%;
				width: 100%;
				padding: 8px;
				text-transform: capitalize;

				i{
					float: right;
				}

				&:hover,
				&:focus{
					text-decoration: none;
					background-color: #f4f4f4;
				};
			}

			.no-results{
				padding: 8px;
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}

	.block-right{
		display: inline-block;
		float: right;

		button,
		a.sign-up{
			outline: none;
			border: none;
			height: 40px;
			line-height: 40px;
			padding: 0px 10px;
			color: #fff;

			.sign-up{
				background-color: #fff;
				color: $blue-dark;
			}
		}

		.avatar-profile{
			display: block;
			border: none;
			height: 40px;
			width: 40px;
			outline: none;
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
			background-image: url(../images/giphy.gif);
			background-size: cover;
			background-position: center center;
			-webkit-border-radius: 50%;
					border-radius: 50%;
		}
	}
}

.header-secondary{
	background-color: #fff;
	text-align: center;

	a{
		padding: 14px 18px;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 3px solid #fff;

		&.active{
			border-bottom: 3px solid $blue-dark;
		}
	}
}


.login-modal{
	text-align: center;
	padding: 20px;

	h1{
		color: $blue-dark;
		font-family: 'Oswald', sans-serif;
	}

	input[type="text"],
	input[type="password"]{
		width: 300px;
		margin: 4px auto;
		display: block;
		border: none;
		padding: 10px;
		outline: none;
		-webkit-border-radius: 8px;
				border-radius: 8px;
		background-color: #fff;
	}

	input[type="submit"]{
		width: 200px;
		text-align: center;
		margin: 20px auto 0px;
		display: block;
		border: none;
		padding: 10px;
		outline: none;
		color: #fff;
		-webkit-border-radius: 8px;
				border-radius: 8px;
		background-color: $blue-dark;
	}
}

