.circleBadge{
  // background-image: url(../../images/zombie.jpg);
  width:120px;
  height: 120px;
  border-radius: 100%;
}
.profile-photo{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.trait{
  border-top: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.courseTitle{
  background-color: $blue-light;
  padding: 5px;
  color:white;
  height:35px
}
.btn-light{
  background-color: $blue-light;
  padding: 5px;
  color:white;
  height:35px
}
.picto{
  background-color: $blue-light;
  padding: 5px;
  color:white;
  height:35px
}
