<div class="container" id="categories-page">
  <div class="col-md-4">
  	<div class="category-box montagne">
  		<span>#Montagne</span>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="category-box forest">
  		<span>#Forêt</span>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="category-box apocalypse">
  		<span>#Apocalypse</span>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="category-box desert">
  		<span>#Desert</span>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="category-box jungle">
  		<span>#Jungle</span>
  	</div>
  </div>
</div>