<div class="container" id="category-page">
  <h1>Categorie #{{category.category}}</h1>
  <h2>Voici les cours de la catégorie #{{category.category}}</h2>

  <div class="row">
	<div class="col-md-4">
		<a class="course-box">
			<span class="label-category">#Category</span>
			<div class="footer-course">
				<div class="avatar"></div>
				<span class="title">Stage de désert</span>
				<span class="creator">Benjamin Le roux</span>
        <span
        class="pull-right"
        uib-rating
        ng-model="category.stars"
        max="5"
        read-only="isReadonly"
        on-hover="hoveringOver(value)"
        on-leave="overStar = null"
        titles="['one','two','three']"
        aria-labelledby="default-rating"
        >
        </span>
			</div>
		</a>
	</div>
  </div>

</div>
