<div class="container">
  <h1>Je change mon cours</h1>
  <!-- Cours / Normal view -->
  <h2>Mes Cours</h2>
  <div class="row">
    <div class="col-md-1 background-chapter text-center">
      <h4><i class="fa fa-book" aria-hidden="true"></i></h4>
    </div>
    <div class="col-md-5 background-chapter">
      <h4>{{title}}</h4>
    </div>
    <div class="col-md-2 background-chapter text-center">
      <h4>Nb chapitres : {{nbChapitres}}</h4>
    </div>
    <div class="col-md-1 background-chapter text-center">
      <h4>{{category}}</h4>
    </div>
    <div class="col-md-2 background-chapter text-center">
      <h4>
        <!-- <a href="#/changecours/:idcourse/chapter/:idchapter"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> -->
        <a ng-click="deleteCourse()"><i  class="fa fa-minus" aria-hidden="true"></i></a>
      </h4>

    </div>
    <!-- AJouter un ng repeat des chapitre par cours -->
    <div ng-repeat="chapter in chapters" class="row">
      <div class="col-md-offset-1 col-md-1 background-chapter-item">
        <h4 class="text-center"><i class="fa fa-file-text" aria-hidden="true"></i></h4>
      </div>
      <div class="col-md-6 background-chapter-item"><h4>{{chapter.title}}</h4></div>
      <div class="col-md-1 background-chapter-item">
        <h4 class="text-center">
          <!-- Delete chapter -->
          <a ng-click="change.deleteChapter(chapter.id)"><i  class="fa fa-minus" aria-hidden="true"></i></a>
          <!-- Update chapter -->
          <a ng-click="change.updateChapter(chapter.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </h4>
      </div>
    </div>
    <!-- Add Chapter -->
    <div class="col-md-12">
      <div class="col-md-offset-5">
        <a ng-click="change.addChapter()"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter un chapitre</a>
      </div>
    </div> <br>
  </div>
</div>
