<div id="course-page">
  
  <div class="header-course" ng-show="!course.courseStep">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="img-course"></div>
        </div>
        <div class="col-md-8">
          <h1>{{ c.title }}</h1>
          <span class="label-category">#{{ c.category.name }}</span>
          <span class="author">Created by {{ c.author.username }}</span>
          <span class="created-at">Le {{ c.created_at }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container course-content">
    <div class="row">

      <!-- Begin course -->
      <div class="col-md-12" ng-show="!course.courseStep">
        <h2>Résumé</h2>
        <p>{{ c.content }}</p>
        <h2>Chapitres</h2>
        <ul class="chapter-list">
          <li ng-repeat="chapter in summary">
            <span class="label-chapter" ng-if="chapter.content">Cours</span>
            <span class="label-chapter" ng-if="chapter.questions">Quizz</span>
            {{ chapter.title }}
            <a href="#/course/{{c.id}}/step/{{chapter.number}}" ng-if="stepDone(chapter.number)" style="float: right">GO !</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 text-center" ng-show="!course.courseStep">
        <a href="#/course/{{ c.id }}/step/1" class="question-button">Let's go !</a>
      </div>




      <!-- Step course -->
      <div class="col-md-12" ng-show="course.courseStep">
        
        <!-- Timeline -->
        <div class="timeline-bar">
          <div class="bar-timeline-background" style="width : calc(100% - (100%/{{ nbStep }}) )">
              <div style="width: calc( ({{ course.courseStep - 1}} / {{ nbStep - 1}}) *  100%)"></div>
          </div>

          <div class="column" ng-repeat="timeline in summary">
              <div class="timeline-round" ng-class="{'done' : (course.courseStep - 1) > $index , 'active' : (course.courseStep - 1) == $index }"><div></div></div>
              <span>{{ timeline.title }}</span>
          </div>
        </div>

        <h2>{{ c.title }}</h2>
        

        <!-- Basic content -->
        <div ng-if="typeStep == 1">
          <p>{{ c.content }}</p>
        </div>



        <!-- Quizz content -->
        <div ng-if="typeStep == 2">
          <div class="question-block" ng-repeat="quizz in c.questions">
            <p class="question">{{ $index + 1 }}. {{ quizz.question }}</p>
            
            <div class="checkbox" ng-repeat="answer in quizz.answers">
              <label>
                <input type="radio" ng-model="userAnswers[quizz.id]" ng-value="$index"> {{ answer.answer }} 
              </label>
            </div>
          </div>
        </div>
        
        <div class="text-center">
          <button class="question-button" ng-click="course.nextStep()">Valider</button>
          <p ng-if="course.messageError">{{ course.messageError }}</p>
        </div>
      </div>

      



      <!-- Commentary block -->
      <div class="col-md-12" ng-show="false">
        <h2 class="text-center">Ratings</h2>
        <span class="pull-right"
              uib-rating
              ng-model="course.stars"
              max="5"
              read-only="false"
              ng-click="course.hoveringOver(course.stars)"
              on-leave="overStar = null"
              titles="['one','two','three']"
              aria-labelledby="default-rating" >
        </span>
        <h2 class="text-center">Commentaires</h2>
        <!-- <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse Vertically</button> -->
        <div class="panel panel-default" ng-repeat="item in course.c.comments track by $index">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a role="button" ng-click="isCollapsed = !isCollapsed">
                <div class="inline">{{item.title}}</div>

                <div class="inline">{{item.date}}</div>
              </a>
            </h4>
          </div>
          <div  uib-collapse="isCollapsed" class="panel-collapse" >
            <div class="panel-body">
              {{item.content}}
              <span class="pull-right"
                    uib-rating
                    ng-model="item.stars"
                    max="5"
                    read-only="true"
                    on-leave="overStar = null"
                    titles="['one','two','three']"
                    aria-labelledby="default-rating" >
              </span>
            </div>
          </div>
        </div>
        <form novalidate class="simple-form">
          <label>Titre du commentaire <input type="text" ng-model="course.form.title" /></label><br />
          <label>Commentaire <textarea name="name" ng-model="course.form.content" rows="8" cols="80"></textarea></label><br />
          <input type="button" ng-click="course.reset()" value="Reset" />
          <input type="submit" ng-click="course.update(course.form)" value="Save" />
        </form>
        <pre>Comment = {{course.form | json}}</pre>
      </div>
    </div>
  </div>
</div>
