<div class="container">
  <h1>Création de cours</h1>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Titre du cours </span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div><br>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Catégorie du cours </span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div><br>

  <a class="btn btn-primary" ng-click="create.createChapter()">Créer un chapitre</a>
</div>
