<div class="container">
  
  <h2>Les 3 derniers cours</h2>
  <div class="row">
    <div class="col-md-4" ng-repeat="i in [1, 2, 3]">
      <a class="course-box">
        <span class="label-category">#Category</span>
        <div class="footer-course">
          <div class="avatar"></div>
          <span class="title">Stage de désert</span>
          <span class="creator">Benjamin Le roux</span>
        </div>
      </a>
    </div>
  </div>
  
  <h2>Les 3 catégories les plus populaires</h2>
  <div class="row">
    <div class="col-md-4" ng-repeat="cat in home.categoriesList">
      <a class="category-box {{ cat }}" href="#/categories/{{ cat }}">
        <span>#{{ cat }}</span>
      </a>
    </div>
  </div>
</div>