<div id="profile-page">

  <div class="header-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="logo-homepage"></div>
        </div>
        <div class="col-md-8">
          <h1>{{userProfile.username}}</h1>
          <span class="label-role">{{userProfile.roles[0].name}}</span>
          <span class="nb-course-created">Nombre de cours : </span>
          <a href="#/createcourse" ng-if="isMe"><i class="fa fa-plus" aria-hidden="true"></i> Créer un cours</a>
          <a href="" ng-if="isMe"><i class="fa fa-wrench" aria-hidden="true"></i> Modifier mon profil</a>
        </div>
      </div>
    </div>
  </div>

  <div class="badge-profile">
    <div class="container">
      <!-- Badges -->
      <h2 ng-if="isMe">Mes badges</h2>
      <h2 ng-if="!isMe">Ses badges</h2>
      <div class="badges">
        <div class="row">
          <div class="col-md-3 text-center" ng-repeat="badge in userProfile.badges as nbBadge">
            <img class="circle-badge" ng-src="./images/{{badge.name}}.jpg" alt="">
            <span>{{badge.name}}</span>
          </div>
          <div class="text-center" ng-if="!nbBadge.length">
            Aucun badge pour le moment
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container course-profile">
    <!-- Cours / Editor view -->
    <div ng-if="userProfile.roles[0].name == 'instructor'">
      <h2 ng-if="isMe">Mes Cours</h2>
      <h2 ng-if="!isMe">Ses Cours</h2>
      <div ng-repeat="course in userProfile.courses as nbCourses" class="courses">

        <div class="header-course-list">
          <h3><i class="fa fa-book" aria-hidden="true"></i> {{course.title}}</h3>
          <a class="course-acces" href="#/course/{{course.id}}">Accès au cours</a>
          <a class="course-update" href="#/changecours/{{course.id}}">Modifier cours</a>
        </div>

        <div class="content-course-list row">
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <span>Nombre de participants</span>
            <span class="number">45</span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <span>Score moyen</span>
            <span class="number">33 %</span>
          </div>
        </div>
      </div>
      <div class="text-center" ng-if="!nbCourses.length">
        Aucun cours pour le moment
      </div>
    </div>

    <!-- Cours / Normal view -->
    <div ng-if="userProfile.roles[0].name == 'student'">
      <h2 ng-if="isMe">Mes Cours</h2>
      <h2 ng-if="!isMe">Ses Cours</h2>
      <div ng-repeat="course in userProfile.courses as NbCourses2" class="courses">

        <div class="header-course-list">
          <h3><i class="fa fa-book" aria-hidden="true"></i> {{course.title}}</h3>
          <a class="course-acces" href="#/course/{{course.id}}">Accès au cours</a>
        </div>

        <div class="content-course-list row">
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <span>Taux d'avancement</span>
            <span class="number">45 %</span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <span>Badge</span>
            <span class="number">.</span>
          </div>
        </div>

      </div>

      <div class="text-center" ng-if="!nbCourses2.length">
        Aucun cours pour le moment
      </div>
    </div>
  </div>


</div>
