<div id="profile-page">
  
  <div class="header-profile">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="logo-homepage"></div>
        </div>
        <div class="col-md-8">
          <h1>{{profile.userProfile.username}}</h1>
          <span class="label-role">{{profile.userProfile.role}}</span>
          <span class="nb-course-created">Nombre de cours : {{profile.nbCourse}}</span>
          <a href="#/createcourse/1"><i class="fa fa-plus" aria-hidden="true"></i> Créer un cours</a>
          <a href=""><i class="fa fa-wrench" aria-hidden="true"></i> Modifier mon profil</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="badge-profile">
    <div class="container">
      <!-- Badges -->
      <h2>Mes badges</h2>
      <div class="badges">
        <div class="row">
          <div class="col-md-3 text-center" ng-repeat="badge in profile.userProfile.badges">
            <img class="circle-badge" ng-src="./images/{{badge.name}}.jpg" alt="">
            <span>{{badge.name}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container course-profile">
    <!-- Cours / Editor view -->
    <div ng-if="profile.userProfile.role == 'instructor'">
      <h2>Mes Cours</h2>
      <div ng-repeat="course in profile.userProfile.courses" class="courses">

        <div class="header-course-list">  
          <h3><i class="fa fa-book" aria-hidden="true"></i> {{course.title}}</h3>
          <a class="course-acces" href="#/course/{{course.id}}">Accès au cours</a>
          <a class="course-update" href="#">Modifier cours</a>
        </div>

        <div class="content-course-list row">
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <span>Nombre de participants</span>
            <span class="number">45</span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <span>Score moyen</span>
            <span class="number">33 %</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Cours / Normal view -->
    <div ng-if="profile.userProfile.role == 'student'">
      <h2>Mes Cours</h2>
      <div ng-repeat="course in profile.userProfile.courses" class="courses">

        <div class="header-course-list">  
          <h3><i class="fa fa-book" aria-hidden="true"></i> {{course.title}}</h3>
          <a class="course-acces" href="#/course/{{course.id}}">Accès au cours</a>
        </div>

        <div class="content-course-list row">
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <span>Taux d'avancement</span>
            <span class="number">45 %</span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-center">
            <span>Badge</span>
            <span class="number">.</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
