<div class="container" id="signup-page">
	<div class="col-md-6 text-center">
		<div class="signup-block">
			<h1>Inscrivez-vous</h1>
			<h2>C'est gratuit !</h2>
			<input type="text" placeholder="Email">
			<input type="text" placeholder="Pseudo">
			<input type="password" placeholder="Mot de passe">
			<button>TADAM !</button>
		</div>
	</div>
	<div class="col-md-6 text-center">
		<div class="image-block-signup">
			<div class="col-md-4 text-center">
				<img src="../images/map.png" alt="">
			</div>
			<div class="col-md-4 text-center">
				<img src="../images/tent.png" alt="">
			</div>
			<div class="col-md-4 text-center">
				<img src="../images/island.png" alt="">
			</div>
		</div>
		<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate voluptatibus ipsum quibusdam ad et magni! Aliquid cumque in sed, enim mollitia numquam nostrum, blanditiis, optio eligendi labore laboriosam harum eaque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repellat cum doloribus, inventore molestiae corporis reiciendis expedita, accusamus libero, consequatur ex laborum error hic. Omnis ducimus natus consequatur, officiis rerum.</p>
	</div>
</div>